body {
    font-family: Arial, sans-serif;
    background-color: #975e63;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.form-container {
    background-color: #975e63;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.display-container {
    background-color: #975e63;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: left;
}

h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#displayData {
    margin-top: 20px;
}

#displayData p {
    font-size: 1rem;
}